@model RapidAuto.MVC.Models.Commande

<h1>Succès</h1>

<div>
    <h4>Votre véhicule a été commandé !</h4>
</div>
<hr />
<div>
    <a asp-controller="Vehicule" asp-action="Index">Retourner à la liste des véhicules</a>
    <a asp-controller="Commande" asp-action="Index">Retourner à la liste des commandes</a>
</div>
